.wrap {/* min-width: 1920px; */ overflow-x: hidden;}
/* ===================================header 시작 */
header {position: fixed; top: 0; left: 0; width: 100%; height: 80px; z-index: 100;  background: #f9f9f9; display: flex; justify-content: space-between; align-items: center; padding: 0 60px;}
header .logo {}
header .logo a {display: block; width: 132px;}
header .logo a img {width: 100%; height: auto;}
header nav {position: relative; /* width: max-content; */}
header nav .gnb {display: flex;}
header nav .gnb > li {margin-left: 53px; position: relative; z-index: 200; /*  */}
header nav .gnb > li:hover a {font-weight: 600; transition: all 0.5s;}
header nav .gnb > li:nth-child(1) {margin: 0;}
header nav .gnb > li a {}
header nav .gnb > li:nth-child(9) a, header nav .gnb li:nth-child(10) a {color: #016ACA;}
.sub {display: none;}
header .lnb {display: flex;}
header .lnb li {margin-left: 25px;}
header .lnb li:nth-child(1) {margin: 0;}


/* ************* */
/* =============================서브 공통 배경 위치 */
/* header nav .sub_bg {
  background: #f9f9f9;
  display: block; position: absolute; margin-top: 32px;
  width: 100%; height: 250px;
}
header nav .gnb > li a {
}
header nav .gnb > li .sub {
  position: absolute;
  width: max-content; text-align: center;
  left: 50%; transform: translateX(-50%);
  top: 43px;
}
header nav .gnb > li .sub li {}
header nav .gnb > li .sub li a {
  line-height: 1.7; letter-spacing: -2%;} */ /* sub 메뉴 */
/* ===================================banner 시작 */
main .banner {margin-bottom: 250px; display: flex; justify-content: space-between;}
main .banner li {}
main .banner li a {}
main .banner li a img {}
/* ===================================footer 시작 */
footer {background: #000;}
footer .footerWrap {padding-top: 10px; display: flex; /* justify-content: space-between; */}
footer .footerWrap .footerLeft{background: #fff; width: 633px; border-radius: 25px;}
footer .footerWrap .footerLeft p {padding: 74px; border-bottom: 2px solid #000;}
footer .footerWrap .footerLeft p img{}
footer .footerWrap .footerLeft > ul {display: flex; justify-content: space-between;}
footer .footerWrap .footerLeft ul .appLink {}
footer .footerWrap .footerLeft ul .appLink ul {}
footer .footerWrap .footerLeft ul .appLink ul li {}
footer .footerWrap .footerLeft ul .appLink ul li:nth-child(1) {border-bottom: 2px solid #000; padding: 23px 40px 26px 20px;}
footer .footerWrap .footerLeft ul .appLink ul li:nth-child(2) {padding: 23px 20px 20px 26px;}
footer .footerWrap .footerLeft ul .appLink ul li img {}
footer .footerWrap .footerLeft ul .qrCode {border-left: 2px solid #000; padding: 60px;}
footer .footerWrap .footerLeft ul .qrCode img {}
/* footerRight 시작 */
footer .footerWrap .footerRight {width: calc(100% - 633px); background: #fff; margin-left: 10px; padding: 105px 159px 0 127px; border-radius: 25px; display: flex; justify-content: space-between;}
footer .footerWrap .footerRight .rightCenter {}
footer .footerWrap .footerRight .rightCenter .centerTop {}
footer .footerWrap .footerRight .rightCenter .centerTop .tap {border-bottom: 2px solid #000;}
footer .footerWrap .footerRight .rightCenter .centerTop .tap a {display: inline-block; padding-bottom: 29px; font-size: 1.38rem;}
footer .footerWrap .footerRight .rightCenter .centerTop .tap .notice {}
footer .footerWrap .footerRight .rightCenter .centerTop .tap .event {margin-left: 33px; color: #868686;}
footer .footerWrap .footerRight .rightCenter .centerTop .noticeList {padding-top: 29px; height: 190px;}
footer .footerWrap .footerRight .rightCenter .centerTop .noticeList ul {}
footer .footerWrap .footerRight .rightCenter .centerTop .noticeList ul li {margin-bottom: 20px; width: 620px; position: relative;}
footer .footerWrap .footerRight .rightCenter .centerTop .noticeList ul li:last-child {margin-bottom: 0;}
footer .footerWrap .footerRight .rightCenter .centerTop .noticeList ul li a {display: block;}
footer .footerWrap .footerRight .rightCenter .centerTop .noticeList ul li a span {color: #868686; font-size: 0.88rem; position: absolute; right: 0; line-height: 16px;}
footer .footerWrap .footerRight .rightCenter .centerTop .eventList {display: none; padding-top: 29px; height: 190px;}
footer .footerWrap .footerRight .rightCenter .centerTop .eventList ul {}
footer .footerWrap .footerRight .rightCenter .centerTop .eventList ul li {margin-bottom: 20px; width: 620px;position: relative;}
footer .footerWrap .footerRight .rightCenter .centerTop .eventList ul li:last-child {margin-bottom: 0;}
footer .footerWrap .footerRight .rightCenter .centerTop .eventList ul li a {display: block;}
footer .footerWrap .footerRight .rightCenter .centerTop .eventList ul li a span {color: #868686; font-size: 0.88rem; position: absolute; right: 0; line-height: 16px;}
/* 이용약관 */
footer .footerWrap .footerRight .rightCenter .centerBottom{width: 620px; margin-top: 62px; display: flex; justify-content: space-between;}
footer .footerWrap .footerRight .rightCenter .centerBottom dl {}
footer .footerWrap .footerRight .rightCenter .centerBottom dl dt {margin-bottom: 15px;}
footer .footerWrap .footerRight .rightCenter .centerBottom dl dd{}
footer .footerWrap .footerRight .rightCenter .centerBottom dl dd a{display: block; font-size: 0.88rem; margin-bottom: 10px;}
footer .footerWrap .footerRight .rightR {}
footer .footerWrap .footerRight .rightR .csCenter {}
footer .footerWrap .footerRight .rightR .csCenter h3 {font-size: 1.38rem;}
footer .footerWrap .footerRight .rightR .csCenter .csNumber {font-size: 1.88rem; margin: 10px 0 15px 0;}
footer .footerWrap .footerRight .rightR .csCenter .csHours {}
footer .footerWrap .footerRight .rightR .contact {margin-top: 55px;}
footer .footerWrap .footerRight .rightR .contact h3 {font-size: 1.38rem; line-height: 1.8rem;}
footer .footerWrap .footerRight .rightR .contact h3 img {}
footer .footerWrap .footerRight .rightR .contact p {margin: 13px 0;}
footer .footerWrap .footerRight .rightR .contact .mailAddress {font-size: 0.88rem; font-weight: 300;}
footer .footerWrap .footerRight .rightR .button {display: flex; margin-top: 57px;}
footer .footerWrap .footerRight .rightR .button a {display: inline-block; margin-right: 17px; border: 1px solid #868686; padding: 10px; }
footer .footerWrap .footerRight .rightR .button a:hover {background: #000; color: #fff; border: 1px solid #000;}
footer .footerWrap .footerRight .rightR .button a:last-child {margin-right: 0;}
footer .footerInforWrap {width: 1400px; margin: 0 auto; color: #F2F2F2; display: flex; justify-content: space-between; padding: 23px 0; }
footer .footerInforWrap img {}
footer .footerInforWrap .footerInfor {display: flex;}
footer .footerInforWrap .footerInfor li {color: #F2F2F2; line-height: 30px;}
footer .footerInforWrap .footerInfor li::after {content: '|'; padding: 0 10px;}
footer .footerInforWrap .footerInfor li:nth-child(3):after {content: '';}
footer .footerInforWrap .footerInfor li span {}
footer .footerInforWrap .footerInfor li span a {color: #f2f2f2; font-size: 0.88rem; cursor: pointer;}
footer .footerInforWrap p {color: #F2F2F2; line-height: 30px;}
/* 탑버튼 */
#topBtn{display: block; width: 40px; height: 40px; border-radius: 100%; background-color: rgba(0, 0, 0, 0.5); color: #f2f2f2;
  text-align: center; line-height: 40px; position: fixed; right: 60px; bottom: 30px;}
