body > * {/* min-width: 1920px; */ overflow-x: hidden;}
main {padding-top: 80px;}/* 헤더 높이 */
/* ===================================CONT1(cultureEvent) 시작 */
main .cultureEvent {margin-bottom: 123px; display: flex; justify-content: space-between;}
main .cultureEvent .cultureEventList {width: calc((100% / 3) - 15px);}
main .cultureEvent .cultureEventList:nth-child(1) {margin-left: 0; background: #C8D6CE;}
main .cultureEvent .cultureEventList:nth-child(2) {background: #DFD9D3;}
main .cultureEvent .cultureEventList:nth-child(3) {background: #F6F3D6;}
main .cultureEvent .cultureEventList a {display: block;}
main .cultureEvent .cultureEventList a .photo {}
main .cultureEvent .cultureEventList a .photo img {width: 100%;}
main .cultureEvent .cultureEventList a .infor {width: 100%; padding: 50px 0; text-align: center;}
main .cultureEvent .cultureEventList a .infor h3 {font-size: 2.00rem; font-weight: bold; color: #313131; margin-bottom: 25px;}
main .cultureEvent .cultureEventList a .infor p {font-size: 1.25rem; color: #313131; font-weight: 500;}
/* ===================================CONT2(book) 시작 */
main .mdPick {padding: 0 60px; margin-bottom: 123px;}
main .mdPick .subTitle {font-size: 1.25rem; margin-bottom: 5px;}
main .mdPick h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .mdPick .mdPickList {}
main .mdPick .mdPickList ul {display: flex; justify-content: space-between;}
main .mdPick .mdPickList ul li {}
main .mdPick .mdPickList ul li a {}
main .mdPick .mdPickList ul li a .photo {margin-bottom: 20px;}
main .mdPick .mdPickList ul li a .photo img {}
main .mdPick .mdPickList ul li a h3 {font-size: 1.25rem; margin-bottom: 13px; font-weight: 500;}
main .mdPick .mdPickList ul li a .price {color: #565656; margin: 10px 0 17px 0;}
main .mdPick .mdPickList ul li a .mpoint {color: #898989; border: 0.5px solid #898989; border-radius: 6px; padding: 3px 8px; display: inline-block;}

/* ===================================CONT3(forYou) 시작 */
main .forYou {padding: 0 60px; margin-bottom: 123px;}
main .forYou .subTitle {font-size: 1.25rem; margin-bottom: 5px;}
main .forYou h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .forYou ul {display: flex; justify-content: space-between;}
main .forYou ul a {}
main .forYou ul a .photo {}
main .forYou ul a .photo img {}
main .forYou ul a .brandName {text-align: center; margin-top: 20px;}
/* ===================================CONT4 시작 */
main .bestItem {margin-bottom: 73px; padding: 0 60px;}
main .bestItem .title {width: 283px; margin-bottom: 50px; display: flex; align-items: flex-end; justify-content: space-between;}
main .bestItem .title h2 {font-size: 2.19rem; font-weight: 600;}
main .bestItem .title p {color: #868686;}

main .bestItem .wrap {display: flex;}
main .bestItem .wrap .category {}
main .bestItem .wrap .category ul {width: 283px;}
main .bestItem .wrap .category ul li {margin-bottom: 28px;}
main .bestItem .wrap .category ul li:last-child {margin-bottom: 0;}
main .bestItem .wrap .category ul > .active {}
main .bestItem .wrap .category ul li a {font-size: 1.25rem; color: #868686;}
main .bestItem .wrap .category ul li a.active {color: #000; text-decoration: underline;}

main .bestItem .wrap .productList {}
main .bestItem .wrap .productList .product {display: none;}
main .bestItem .wrap .productList .product.active {display: block;}
main .bestItem .wrap .productList .product ul {display: flex; justify-content: space-between; flex-wrap: wrap;}
main .bestItem .wrap .productList .product ul li {width: calc((100% / 5) - 20px); margin-left: 20px; margin-bottom: 50px;}
main .bestItem .wrap .productList .product ul li a {display: block;}
main .bestItem .wrap .productList .product ul li a .photo {margin-bottom: 20px;}
main .bestItem .wrap .productList .product ul li a .photo img {width: 100%;}

main .bestItem .wrap .productList .product ul li a .infor {}
main .bestItem .wrap .productList .product ul li a .infor h3 {font-size: 1.25rem; font-weight: 500; margin-bottom: 13px;}
main .bestItem .wrap .productList .product ul li a .infor h4 {}
main .bestItem .wrap .productList .product ul li a .infor .price {color: #565656; margin: 10px 0 17px 0;}
main .bestItem .wrap .productList .product ul li a .infor .mpoint {color: #898989; border: 0.5px solid #898989; border-radius: 6px; padding: 3px 8px; display: inline-block;}
/* ===================================CONT5 시작 */
main .artShopWrap {margin-bottom: 123px;}
main .artShopWrap h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px; padding-left: 60px;}
main .artShopWrap .artShop {display: flex; justify-content: space-between;}
main .artShopWrap .artShop .artShopLeft {width: 855px; height: 630px; margin-right: 20px;}
main .artShopWrap .artShop .artShopLeft ul {}
main .artShopWrap .artShop .artShopLeft ul .brandList {position: relative;}
main .artShopWrap .artShop .artShopLeft ul .brandList a {display: block; }
main .artShopWrap .artShop .artShopLeft ul .brandList a img {width: 100%; height: auto; background: rgba(0, 0, 0, 0.8);}
main .artShopWrap .artShop .artShopLeft ul .brandList a p{position: absolute; color: #f2f2f2; border: 1px solid #f2f2f2; padding: 13px 20px 20px 20px; top: 50%; white-space: nowrap; left: 50%; transform: translate(-50%, -50%); font-size: 3.75rem; font-weight: 500;}

main .artShopWrap .artShop .artShopLeft .swiper-button-prev {left: 60px; color: #3D3C3C; transform: scaleX(1);}
main .artShopWrap .artShop .artShopLeft .swiper-button-next {right: 60px; color: #3D3C3C; transform: scaleX(1);}
main .artShopWrap .artShop .artShopLeft .swiper-pagination {bottom: 10px;}
main .artShopWrap .artShop .artShopLeft .swiper-pagination-bullet {background: #3D3C3C; }
main .artShopWrap .artShop .artShopLeft .swiper-pagination-bullet-active {width: 20px; height: 10px; border-radius: 10px;}

/* 오른쪽 시작 */
main .artShopWrap .artShop .artShopList {width: calc(100% - 875px);}
main .artShopWrap .artShop .artShopList ul {}
main .artShopWrap .artShop .artShopList ul li {}
main .artShopWrap .artShop .artShopList ul li a {}
main .artShopWrap .artShop .artShopList ul li a .photo {margin-bottom: 20px;}
main .artShopWrap .artShop .artShopList ul li a .photo img {}
main .artShopWrap .artShop .artShopList ul li a .infor {}
main .artShopWrap .artShop .artShopList ul li a .infor h3 {font-size: 1.25rem; font-weight: 500; margin-bottom: 13px;}
main .artShopWrap .artShop .artShopList ul li a .infor h4 {color: #565656;}
main .artShopWrap .artShop .artShopList ul li a .infor .price {color: #565656; margin: 10px 0 17px 0;}
main .artShopWrap .artShop .artShopList ul li a .infor .mpoint {color: #898989; border: 0.5px solid #898989; border-radius: 6px; padding: 3px 8px; display: inline-block;}




/* ===================================CONT6 시작 */
main .library {width: 100%; padding: 0 60px; margin-bottom: 123px;}
main .library h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .library .libraryList {height: 730px; display: flex; justify-content: space-between;}
main .library .libraryList .content {}
main .library .libraryList .content a {position: relative; display: block;}
main .library .libraryList .content:hover .photoInfor {display: block}
main .library .libraryList .content a .photoInfor {}
main .library .libraryList .content a .photoInfor img {width: 100%; height: 600px;}
main .library .libraryList .content a .photoInfor {position: absolute; width: 100%; height: 600px; top: 0; text-align: center; background: rgba(0, 0, 0, 0.2); padding-top: 200px; display: none;}
main .library .libraryList .content a .photoInfor p span {color: #fff; font-size: 0.88rem; font-weight: 400;  letter-spacing: -0.02em;}
main .library .libraryList .content a .photoInfor .brandName {font-size: 2.19rem; font-weight: bold; margin-bottom: 23px;}
main .library .libraryList .content a .photoInfor p {color: #fff; font-size: 1rem; letter-spacing: -0.02em; line-height: 170%}
main .library .libraryList .content .text {margin-top: 40px;}
main .library .libraryList .content .text h3 a {font-size: 1.25rem; font-weight: 600; margin-bottom: 17px;}
main .library .libraryList .content .text p {color: #565656; margin-bottom: 10px;}
main .library .libraryList .content .text p span {display: inline-block; font-size: 0.88rem; color: #898989; background: none; border: 0.5px solid #898989; border-radius: 5px; padding: 5px;}
/* ===================================CONT2 시작 */