/* ===================================mainVisual 시작 */
main {padding-top: 80px;}/* 헤더 높이 */
main .main {height: 700px; margin-bottom: 123px;}
main .main .swiper-button-prev {left: 60px; color: #f8f8f8; transform: scaleX(1);}
main .main .swiper-button-next {right: 60px; color: #f8f8f8; transform: scaleX(1);}
main .main .swiper-pagination {bottom: 20px;}
main .main .swiper-pagination-bullet {background: #f8f8f8; }
main .main .swiper-pagination-bullet-active {width: 15px; height: 10px; border-radius: 10px;}
/* ===================================CONT1 시작 */
main .cont1 {width: 100%; padding: 0 60px; margin-bottom: 123px;}
main .cont1 h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .cont1 .cont1List {height: 730px;}
main .cont1 .cont1List .swiper-wrapper {}
main .cont1 .cont1List .swiper-wrapper .cont1Slide {}
main .cont1 .cont1List .swiper-wrapper .cont1Slide:hover .imgTxt {display: block}
main .cont1 .cont1List .swiper-wrapper .cont1Slide img {width: 100%; height: 600px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .imgTxt {position: absolute; width: 100%; height: 600px; top: 0; text-align: center; background: rgba(0, 0, 0, 0.2); padding-top: 200px; display: none;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .imgTxt p span {color: #fff; font-size: 0.88rem; font-weight: 400;  letter-spacing: -0.02em;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .imgTxt .brandName {font-size: 2.19rem; font-weight: bold; margin-bottom: 23px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .imgTxt p {color: #fff; font-size: 1rem; letter-spacing: -0.02em; line-height: 170%}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt {margin-top: 40px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt h3 a {display: block; font-size: 1.25rem; font-weight: 600; margin-bottom: 17px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt p {color: #565656; margin-bottom: 10px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide:nth-child(4) .cont1_txt .color > span {color: #F10000; border: none; padding: 0;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide:nth-child(5) .cont1_txt .color > span {color: #039B23; border: none; padding: 0;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt p span {display: inline-block; font-size: 0.88rem; color: #898989; background: none; border: 0.5px solid #898989; border-radius: 5px; padding: 5px;}
main .cont1 .cont1List .swiper-button-prev , .cont1List .swiper-button-next {top: 43%; color: #f8f8f8; transform: scaleX(1);}
/* ===================================CONT2 시작 */
main .cont2 {padding: 0 60px; margin-bottom: 123px;}
main .cont2 h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .cont2 .cont2Wrap {display: flex;}
main .cont2 .cont2Wrap .cont2List {width: 738px; margin-left: 0;}
main .cont2 .cont2Wrap .swiper{}
main .cont2 .cont2Wrap .cont2List .cont2Left {}
main .cont2 .cont2Wrap .cont2List .cont2Left li {position: relative; width: 738px;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a {display: block;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .contImg {width: 738px;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .contImg img {width: 100%;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt {position: absolute; top: 392px; left: 50%; transform: translateX(-50%); text-align: center; }
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt .brandName {font-size: 3.75rem; font-weight: 500; margin-bottom: 30px;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt p {color: #fff; font-size: 1.25rem;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt .box_txt {margin-top: 30px; border: 1px solid #fff; padding: 11px 15px;}
main .cont2 .cont2Wrap .cont2List .swiper-button-prev, .cont2List .swiper-button-next {top: 50%; color: #f8f8f8; transform: scaleX(1);}
/* cont2 right 시작 */
main .cont2 .cont2Wrap .cont2Right {width: 1062px; display: flex; flex-wrap: wrap;}
main .cont2 .cont2Wrap .cont2Right a {display: block; width: calc((100% / 3) - 20px); margin-left: 20px;}
main .cont2 .cont2Wrap .cont2Right a:nth-child(1), .cont2Right a:nth-child(2), .cont2Right a:nth-child(3) {margin-bottom: 40px;}
main .cont2 .cont2Wrap .cont2Right a div {}
main .cont2 .cont2Wrap .cont2Right a div img{width: 100%;}
main .cont2 .cont2Wrap .cont2Right a p {color: #565656; font-weight: 500;}
main .cont2 .cont2Wrap .cont2Right a .brandName{font-size: 1.25rem; font-weight: 600; color: #000; margin: 15px 0 10px;}
main .cont2 .cont2Wrap .cont2Right a .price {margin: 8px 0 10px 0;}
main .cont2 .cont2Wrap .cont2Right a p del {font-size: 0.81rem; color: #787878;}
main .cont2 .cont2Wrap .cont2Right a p span {color: #F77070;}
main .cont2 .cont2Wrap .cont2Right a .mpoint {font-size: 0.88rem; font-weight: 400; color: #898989; border: 0.5px solid #898989; border-radius: 6px; padding: 3px 8px; display: inline-block;}
/* ===================================CONT3 시작 */
main .cont3 {margin-bottom: 123px;}
main .cont3 .cont3_bn {margin-bottom: 20px;}
main .cont3 .cont3_bn .swiper-button-prev {top: 50%; left: 60px; color: #f8f8f8; transform: scaleX(1);}
main .cont3 .cont3_bn .swiper-button-next {top: 50%; right: 60px; color: #f8f8f8; transform: scaleX(1);}
main .cont3 .cont3_bn .cont3_bn_in {}
main .cont3 .cont3_bn .cont3_bn_in a {}
main .cont3 .cont3_bn .cont3_bn_in a img {}
main .cont3 .cont3_bn .cont3_bn_in a p {color: #fff; position: absolute; top: 408px; left: 50%; transform: translateX(-50%);}
main .cont3 .cont3_bn .cont3_bn_in a .novesta {color: #000;}
/* 하단 시작 */
main .cont3 .cont3_event {display: flex;}
main .cont3 .cont3_event li { display: flex; margin-left: 20px; width: 627px; height: 650px;}
main .cont3 .cont3_event li:nth-child(1) {margin: 0;}
main .cont3 .cont3_event li a {display: flex; justify-content: center; width: 100%; height: 100%; background-size: cover; background-position: center;}
.cont3_event li:nth-child(1) a{background: url(../img/cont3_1.png)}
.cont3_event li:nth-child(2) a{background: url(../img/cont3_2.png)}
.cont3_event li:nth-child(3) a{background: url(../img/cont3_3.png)}
main .cont3 .cont3_event li a .txt {text-align: center; width: 100%; padding-top: 242px;}
main .cont3 .cont3_event li a .txt p {color: #fff; margin: 0 auto; margin: 25px 0;}
main .cont3 .cont3_event li a .txt h2 {font-size: 3.14rem; font-weight: 500; color: #fff;}
main .cont3 .cont3_event li a .txt h3 {width: 257px; margin-top: 10px; border: 1px solid #fff; color: #fff; padding: 13px 10px; margin: 0 auto;}
/* ===================================CONT4(forYou) 시작 */
main .forYou {padding: 0 60px; margin-bottom: 123px;}
main .forYou .subTitle {font-size: 1.25rem; margin-bottom: 5px;}
main .forYou h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .forYou .forYouList {}
main .forYou .forYouList div {}
main .forYou .forYouList div a {border: 0.5px solid #6a6a6a; overflow: hidden;}
main .forYou .forYouList div a div {}
main .forYou .forYouList div a div > img {}
main .forYou .forYouList div a .infor {text-align: center; margin: 44px 0;}
main .forYou .forYouList div a:nth-child(4) .infor {margin-bottom: 67px;}
main .forYou .forYouList div a .infor h3 {font-size: 1.56rem; margin-bottom: 13px; font-weight: 500;}
main .forYou .forYouList div a .infor p {line-height: 23px; color: #565656;}
main .forYou .forYouList .swiper-button-prev , .forYouList .swiper-button-next {top: 50%; color: #f8f8f8; transform: scaleX(1);}
/* ===================================CONT5(living) 시작 */
main .livingWrap {margin-bottom: 123px;}
main .livingWrap h2 {padding: 0 60px; font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .livingWrap .livingContent {display: flex; justify-content: space-between;}
main .livingWrap .livingList {width: calc((100% / 3) - 15px);}
main .livingWrap .livingList .photo {}
main .livingWrap .livingList .photo img {width: 100%;}
main .livingWrap .livingList .photo img {}
main .livingWrap .livingList .infor {width: 100%; padding: 50px 0; text-align: center;}
main .livingWrap .livingList:nth-child(1) {background: #FFFDD9;}
main .livingWrap .livingList:nth-child(2) {background: #FAE3E3;}
main .livingWrap .livingList:nth-child(3) {background: #E2F3F9;}
main .livingWrap .livingList .infor h3 {font-size: 2.00rem; font-weight: bold; color: #313131; margin-bottom: 25px;}
main .livingWrap .livingList .infor p {font-size: 1.25rem; color: #313131; font-weight: 500;}
/* ===================================CONT6(tech) 시작 */
main .techWrap {margin-bottom: 123px;}
main .techWrap h2 {padding: 0 60px; font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .techWrap .techContent {display: flex; justify-content: space-between;}
main .techWrap .techList {width: calc((100% / 3) - 15px);}
main .techWrap .techList .photo {}
main .techWrap .techList .photo img {width: 100%;}
main .techWrap .techList .photo img {}
main .techWrap .techList .infor {width: 100%; padding: 50px 0; text-align: center;}
main .techWrap .techList:nth-child(1) {background: #DFDFEB;}
main .techWrap .techList:nth-child(2) {background: #FFE2CE;}
main .techWrap .techList:nth-child(3) {background: #F1FFED;}
main .techWrap .techList .infor h3 {font-size: 2.00rem; font-weight: bold; color: #313131; margin-bottom: 25px;}
main .techWrap .techList .infor p {font-size: 1.25rem; color: #313131; font-weight: 500;}
/* ===================================CONT7(Super brand) 시작 */
main .superBrand {padding: 0 60px; margin-bottom: 123px;}
main .superBrand .subTitle {font-size: 1.25rem; margin-bottom: 5px;}
main .superBrand h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .superBrand ul {display: flex; justify-content: space-between;}
main .superBrand ul a {}
main .superBrand ul a .photo {}
main .superBrand ul a .photo img {}
main .superBrand ul a .brandName {text-align: center; margin-top: 20px;}
/* ===================================CONT8(sportWrap) 시작 */
main .sportWrap {padding: 0 60px; margin-bottom: 123px;}
main .sportWrap h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .sportWrap .sportContent {display: flex;}
main .sportWrap .sportContent .sportItem {}
main .sportWrap .sportContent .sportItem ul {}
main .sportWrap .sportContent .sportItem ul li {position: relative;}
main .sportWrap .sportContent .sportItem ul li:nth-child(1) a{background: url(../img/cont8_1.png) / cover;}
main .sportWrap .sportContent .sportItem ul li a {}
main .sportWrap .sportContent .sportItem ul li a .infor {position: absolute; top: 250px; left: 40px;}
main .sportWrap .sportContent .sportItem ul li a .infor h3 {color: #fff; font-size: 2.10rem; }
main .sportWrap .sportContent .sportItem ul li a .infor p {}
main .sportWrap .sportContent .sportItem ul li a .infor .brandList {}
main .sportWrap .sportContent .sportItem ul li a .infor .brandList li {}
main .sportWrap .sportContent .sportItem ul li a .infor .brandList li a {display: block;  background-color: #000;}
main .sportWrap .sportContent .sportItemRight {display: flex;}
main .sportWrap .sportContent .sportItemRight a {display: block;  width: calc((100% / 4) - 20px); margin-left: 20px;}
main .sportWrap .sportContent .sportItemRight .photo {}
main .sportWrap .sportContent .sportItemRight .textBox {}
main .sportWrap .sportContent .sportItemRight .textBox .brandName {font-size: 1.25rem; margin-bottom: 13px; font-weight: 500;}
main .sportWrap .sportContent .sportItemRight .textBox .productName {color: #565656;}
main .sportWrap .sportContent .sportItemRight .textBox .price {color: #565656; margin: 10px 0 17px 0;}
main .sportWrap .sportContent .sportItemRight .textBox .mpoint {color: #898989; border: 0.5px solid #898989; border-radius: 6px; padding: 3px 8px; display: inline-block;}
/* ===================================CONT9(artShop) 시작 */
main .artShopWrap {margin-bottom: 123px;}
main .artShopWrap h2 {padding: 0 60px; font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .artShopWrap > .artShop {display: flex;/*  justify-content: space-between; */}
main .artShopWrap > .artShop > li {margin-left: 20px;}
main .artShopWrap > .artShop > li:nth-child(1) {margin-left: 0;}
main .artShopWrap > .artShop > li > ul {}
main .artShopWrap > .artShop > li > ul > li {}
main .artShopWrap > .artShop > li > ul > .artShopListTop {margin-bottom: 20px;}
main .artShopWrap > .artShop > li > ul > li a{}
/* ===================================CONT10(book) 시작 */
main .bookWrap {padding: 0 60px; margin-bottom: 123px;}
main .bookWrap h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .bookWrap .bookList {}
main .bookWrap .bookList ul {display: flex; justify-content: space-between;}
main .bookWrap .bookList ul li {}
main .bookWrap .bookList ul li a {}
main .bookWrap .bookList ul li a .photo {margin-bottom: 20px;}
main .bookWrap .bookList ul li a .photo img {}
main .bookWrap .bookList ul li a h3 {font-size: 1.25rem; margin-bottom: 13px; font-weight: 500; width: 330PX; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
main .bookWrap .bookList ul li a .price {color: #565656; margin: 10px 0 17px 0;}
main .bookWrap .bookList ul li a .mpoint {color: #898989; border: 0.5px solid #898989; border-radius: 6px; padding: 3px 8px; display: inline-block;}
/* ===================================CONT11(mPoint) 시작 */
main .mPointWrap {margin-bottom: 200px; }
main .mPointWrap h2 {padding: 0 60px; font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .mPointWrap .mPoint {background: #F2F2F2; display: flex; justify-content: space-between; align-items: center;}
main .mPointWrap .mPoint ul {padding: 25.5px;  display: flex;}
main .mPointWrap .mPoint ul .mPointList {}
main .mPointWrap .mPoint ul .mPointList ul {display: flex;}
main .mPointWrap .mPoint ul .mPointList ul > li {margin-left: 20px;}
main .mPointWrap .mPoint ul .mPointList ul > li:nth-child(1) {margin-left: 0;}
main .mPointWrap .mPoint ul .mPointList ul li a {}
main .mPointWrap .mPoint ul .mPointList ul li a p {}
main .mPointWrap .mPoint ul .mPointList ul li a p img {}
main .mPointWrap .mPoint ul .mPointList ul li a .infor {margin-top: 20px;}
main .mPointWrap .mPoint ul .mPointList ul li a .infor h3 {font-size: 1.25rem; margin-bottom: 13px; font-weight: 500;}
main .mPointWrap .mPoint ul .mPointList ul li a .infor .productName {color: #565656; margin: 10px 0 7px 0;}
main .mPointWrap .mPoint ul .mPointList ul li a .infor .price {color: #565656;}
main .mPointWrap .mPoint ul .mPointGo {width: 290px; padding: 100px 0 0 80px;}
main .mPointWrap .mPoint ul .mPointGo a {display: block;}
main .mPointWrap .mPoint ul .mPointGo a .title {font-size: 1.88rem; font-weight: 500;line-height: 43px;}
main .mPointWrap .mPoint ul .mPointGo a .title span {font-size: 2.50rem; font-weight: 600;}
main .mPointWrap .mPoint ul .mPointGo a .list {margin-top: 30px; width: 210px;}
main .mPointWrap .mPoint ul .mPointGo a .list p {display: inline-block; border: 1px solid #000; border-radius: 20px; padding: 8px 10px; margin-left: 8px;}
main .mPointWrap .mPoint ul .mPointGo a .list p:nth-child(1) {margin-left: 0;}
main .mPointWrap .mPoint ul .mPointGo a .list p:nth-child(4) {margin-left: 0; margin-top: 8px;}
main .mPointWrap .mPoint .next {padding-right: 60px;}
main .mPointWrap .mPoint .next img {}