.wrap {min-width: 1920px; overflow-x: auto;}
header {width: 100%; height: 80px; position: relative; background: #F7F7F7; display: flex; justify-content: space-between; align-items: center; padding: 0 60px;}
header .logo {}
header .logo a {display: block;}
header .logo a img {width: 132px; height: auto;}
header nav {position: absolute;  width: max-content; left: 50%; transform: translateX(-50%);}
header nav .gnb {display: flex;}
header nav .gnb > li {margin-left: 53px; }
header nav .gnb > li:hover a {font-weight: 600; transition: all 0.5s;}
header nav .gnb > li:nth-child(1) {margin: 0;}
header nav .gnb > li a {}
header nav .gnb > li:nth-child(9) a, header nav .gnb li:nth-child(10) a {color: #016ACA;}
.sub {display: none;}
header .lnb {display: flex;}
header .lnb li {margin-left: 25px;}
header .lnb li:nth-child(1) {margin: 0;}
/* ===================================mainVisual 시작 */
main .main {height: 700px; margin-bottom: 123px;}
/* ===================================CONT1 시작 */
main .cont1 {width: 100%; padding: 0 60px; margin-bottom: 123px;}
main .cont1 h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .cont1 .cont1List {height: 730px;}
main .cont1 .cont1List .swiper-wrapper {}
main .cont1 .cont1List .swiper-wrapper .cont1Slide {}
main .cont1 .cont1List .swiper-wrapper .cont1Slide a {position: relative; display: block;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide:hover .imgTxt {display: block}
main .cont1 .cont1List .swiper-wrapper .cont1Slide a img {width: 100%; height: 600px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide a .imgTxt {position: absolute; width: 100%; height: 600px; top: 0; text-align: center; background: rgba(0, 0, 0, 0.2); padding-top: 200px; display: none;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide a .imgTxt p span {color: #fff; font-size: 0.88rem; font-weight: 400;  letter-spacing: -0.02em;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide a .imgTxt .brandName {font-size: 2.19rem; font-weight: bold; margin-bottom: 23px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide a .imgTxt p {color: #fff; font-size: 1rem; letter-spacing: -0.02em; line-height: 170%}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt {margin-top: 40px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt h3 a {font-size: 1.25rem; font-weight: 600; margin-bottom: 17px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt p {color: #565656; margin-bottom: 10px;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide:nth-child(4) .cont1_txt .color > span {color: #F10000; border: none; padding: 0;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide:nth-child(5) .cont1_txt .color > span {color: #039B23; border: none; padding: 0;}
main .cont1 .cont1List .swiper-wrapper .cont1Slide .cont1_txt p span {display: inline-block; font-size: 0.88rem; color: #898989; background: none; border: 0.5px solid #898989; border-radius: 5px; padding: 5px;}
/* ===================================CONT2 시작 */
main .cont2 {padding: 0 60px; margin-bottom: 123px;}
main .cont2 h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .cont2 .cont2Wrap {display: flex;}
main .cont2 .cont2Wrap .cont2List {width: 738px; margin-left: 0;}
main .cont2 .cont2Wrap .swiper{}
main .cont2 .cont2Wrap .cont2List .cont2Left {}
main .cont2 .cont2Wrap .cont2List .cont2Left li {position: relative; width: 738px;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a {display: block;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .contImg {}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .contImg img {width: 100%;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt {position: absolute; top: 392px; left: 216px; text-align: center;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt .brandName {font-size: 3.75rem; font-weight: 500; margin-bottom: 30px;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt p {color: #fff; font-size: 1.25rem;}
main .cont2 .cont2Wrap .cont2List .cont2Left li a .imgTxt .box_txt {margin-top: 30px; border: 1px solid #fff; padding: 11px 15px;}
/* cont2 right 시작 */
main .cont2 .cont2Wrap .cont2Right {width: 1062px; display: flex; flex-wrap: wrap;}
main .cont2 .cont2Wrap .cont2Right a {display: block; width: calc((100% / 3) - 20px); margin-left: 20px;}
main .cont2 .cont2Wrap .cont2Right a:nth-child(1), .cont2Right a:nth-child(2), .cont2Right a:nth-child(3) {margin-bottom: 40px;}
main .cont2 .cont2Wrap .cont2Right a div {}
main .cont2 .cont2Wrap .cont2Right a div img{width: 100%;}
main .cont2 .cont2Wrap .cont2Right a p {color: #565656; font-weight: 500;}
main .cont2 .cont2Wrap .cont2Right a .brandName{font-size: 1.25rem; font-weight: 600; color: #000; margin: 15px 0 10px;}
main .cont2 .cont2Wrap .cont2Right a .price {margin: 8px 0 10px 0;}
main .cont2 .cont2Wrap .cont2Right a p del {font-size: 0.81rem; color: #787878;}
main .cont2 .cont2Wrap .cont2Right a p span {color: #F77070;}
main .cont2 .cont2Wrap .cont2Right a .mpoint {font-size: 0.88rem; font-weight: 400; color: #898989; border: 0.5px solid #898989; border-radius: 6px; padding: 3px 8px; display: inline-block;}
/* ===================================CONT3 시작 */
main .cont3 {margin-bottom: 123px;}
main .cont3 .cont3_bn {margin-bottom: 20px;}
main .cont3 .cont3_bn .cont3_bn_in {}
main .cont3 .cont3_bn .cont3_bn_in a {}
main .cont3 .cont3_bn .cont3_bn_in a img {}
main .cont3 .cont3_bn .cont3_bn_in a p {color: #fff; position: absolute; top: 408px; left: 50%; transform: translateX(-50%);}
/* 하단 시작 */
main .cont3 .cont3_event {display: flex;}
main .cont3 .cont3_event li { display: flex; margin-left: 20px; width: 627px; height: 650px;}
main .cont3 .cont3_event li:nth-child(1) {margin: 0;}
main .cont3 .cont3_event li a {display: flex; justify-content: center; width: 100%; height: 100%; background-size: cover; background-position: center;}
.cont3_event li:nth-child(1) a{background: url(../img/cont3_1.png)}
.cont3_event li:nth-child(2) a{background: url(../img/cont3_2.png)}
.cont3_event li:nth-child(3) a{background: url(../img/cont3_3.png)}
main .cont3 .cont3_event li a .txt {text-align: center; width: 100%; padding-top: 242px;}
main .cont3 .cont3_event li a .txt p {color: #fff; margin: 0 auto; margin: 25px 0;}
main .cont3 .cont3_event li a .txt h2 {font-size: 3.14rem; font-weight: 500; color: #fff;}
main .cont3 .cont3_event li a .txt h3 {width: 257px; margin-top: 10px; border: 1px solid #fff; color: #fff; padding: 13px 10px; margin: 0 auto;}
/* ===================================CONT4(forYou) 시작 */
main .forYou {padding: 0 60px; margin-bottom: 123px;}
main .forYou .subTitle {font-size: 1.25rem; margin-bottom: 5px;}
main .forYou h2 {font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .forYou .forYouList {}
main .forYou .forYouList div {}
main .forYou .forYouList div a {border: 0.5px solid #6a6a6a; overflow: hidden;}
main .forYou .forYouList div a div {}
main .forYou .forYouList div a div > img {}
main .forYou .forYouList div a .infor {text-align: center; margin: 44px 0;}
main .forYou .forYouList div a:nth-child(4) .infor {margin-bottom: 67px;}
main .forYou .forYouList div a .infor h3 {font-size: 1.56rem; margin-bottom: 13px; font-weight: 500;}
main .forYou .forYouList div a .infor p {line-height: 23px; color: #565656;}
/* ===================================CONT5(living) 시작 */
main .living {margin-bottom: 123px;}
main .living h2 {padding: 0 60px; font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .living .livingWrap {display: flex;}
main .living .livingList {width: calc((100% / 3) - 20px); margin-left: 20px;}
main .living .livingList:nth-child(1) {margin-left: 0;}
main .living .livingList .photo {}
main .living .livingList .photo img {width: 100%;}
main .living .livingList .photo img {}
main .living .livingList .infor {width: 100%; padding: 50px 0; text-align: center;}
main .living .livingList:nth-child(1) {background: #FFFDD9;}
main .living .livingList:nth-child(2) {background: #FAE3E3;}
main .living .livingList:nth-child(3) {background: #E8EBEC;}
main .living .livingList .infor h3 {font-size: 2.00rem; font-weight: bold; color: #313131; margin-bottom: 25px;}
main .living .livingList .infor p {font-size: 1.25rem; color: #313131; font-weight: 500;}
/* ===================================CONT6(tech) 시작 */
main .tech {margin-bottom: 123px;}
main .tech h2 {padding: 0 60px; font-size: 2.19rem; font-weight: 600; margin-bottom: 50px;}
main .tech .techWrap {display: flex;}
main .tech .techList {width: calc((100% / 3) - 20px); margin-left: 20px;}
main .tech .techList:nth-child(1) {margin-left: 0;}
main .tech .techList .photo {}
main .tech .techList .photo img {width: 100%;}
main .tech .techList .photo img {}
main .tech .techList .infor {width: 100%; padding: 50px 0; text-align: center;}
main .tech .techList:nth-child(1) {background: #DFDFEB;}
main .tech .techList:nth-child(2) {background: #FFE2CE;}
main .tech .techList:nth-child(3) {background: #F1FFED;}
main .tech .techList .infor h3 {font-size: 2.00rem; font-weight: bold; color: #313131; margin-bottom: 25px;}
main .tech .techList .infor p {font-size: 1.25rem; color: #313131; font-weight: 500;}