
/* ===================================main 시작 */
main {padding-top: 80px;}/* 헤더 높이 */
main .product {margin: 120px 0 230px 0; display: flex; justify-content: center;}
main .product .photo {margin-right: 60px;}
main .product .photo img {}
main .product .inforWrap {width: 587px; border-top: 2px solid #000; padding-top: 40px;}
main .product .inforWrap .category {margin-bottom: 40px;}
main .product .inforWrap .category h2 {font-weight: 600;}
main .product .inforWrap .category div {margin: 22px 0; display: flex; justify-content: space-between;}
main .product .inforWrap .category div h3 {font-size: 1.13rem;}
main .product .inforWrap .category div .delivery {color: #016ACA; font-size: 0.81rem; border: 0.5px solid #016aca; padding: 5px; border-radius: 15px;}
main .product .inforWrap .category .price {font-size: 1.25rem; font-weight: 500;}
main .product .inforWrap .category .price > span {}
main .product .inforWrap .category > p {font-weight: 300; margin-top: 15px;}
main .product .inforWrap .category .mpoint {font-size: 0.81rem; color: #868686; background: #F2F2F2; padding: 5px 10px; border-radius: 10px; display: inline-block;}
main .product .inforWrap .detailEx {border-top: 1px solid #c8c8c8; border-bottom: 1px solid #c8c8c8; padding: 40px 0;}
main .product .inforWrap .detailEx dl {display: flex;}
main .product .inforWrap .detailEx dl:nth-child(2) {margin: 25px 0;}
main .product .inforWrap .detailEx .modelName dt {margin-right: 74px;}
main .product .inforWrap .detailEx dl dt {margin-right: 61px;}
main .product .inforWrap .detailEx dl dd {}
main .product .inforWrap .button {margin-top: 40px; display: flex; justify-content: space-between;}
main .product .inforWrap .button ul {display: flex;}
main .product .inforWrap .button .like {align-items: center;}
main .product .inforWrap .button .like li {}
main .product .inforWrap .button .like li:nth-child(1) {cursor: pointer;}
main .product .inforWrap .button ul li {margin-left: 10px;}
main .product .inforWrap .button ul li:nth-child(1) {margin-left: 0;}
main .product .inforWrap .button ul li a {display: block; border: 0.5px solid #848484; padding: 10.5px 51px;}
main .product .inforWrap .button ul li .buy {color: #FBFBFB; background: #016ACA;}
/* detail시작 */
main .detail {text-align: center;}
main .detail img {}
main .detail h3 {font-size: 2.00rem; line-height: 50px; margin: 110px 0 35px 0;}
main .detail .singer {color: #545454; font-size: 1.50rem; margin-bottom: 60px;}
main .detail p {margin-bottom: 150px; font-size: 1.25rem; line-height: 30px;}
main .detail p span {font-weight: 600; font-size: 1.33rem;}
main .detail .photo {margin-bottom: 200px;}
main .detail .photo img {}
main .qna {padding-bottom: 20px; border-bottom: 2px solid #000;}
main .qna , .review ul {display: flex; width: 1234px; margin: 0 auto; justify-content: space-between;}
main .qna li {}
main .qna li a {font-size: 1.38rem;}
main .qna li .button, .review ul li .button {font-size: 0.88rem; border: 0.5px solid #545454; padding: 6px 22px;}
main .review {margin-top: 111px; } 
main .review ul {padding-bottom: 20px; padding-bottom: 20px; border-bottom: 2px solid #000;}
main .review ul li {}
main .review ul li a{font-size: 1.38rem;}
main .review .text {width: 1234px; margin: 93px auto; padding-bottom: 93px; text-align: center; border-bottom: 1px solid #848484;}
main .review .text h3 {margin-bottom: 15px; font-size: 1.13rem;}
main .review .text p {font-size: 0.88rem;line-height: 15px;}
main .review .text p img {}
main .review .text p span {font-size: 0.88rem; color: #016ACA;}
/* ===================================banner 시작 */
main .recommendedWrap {width: 1234px; margin: 0 auto 200px;}
main .recommendedWrap h2 {font-size: 1.38rem; font-weight: 500; margin-bottom: 30px;}
main .recommendedWrap .recommended {}
main .recommendedWrap .recommended ul {}
main .recommendedWrap .recommended ul li {width: 293.5px; height: auto;}
main .recommendedWrap .recommended ul li a {}
main .recommendedWrap .recommended ul li .photo {width: 100%}
main .recommendedWrap .recommended ul li .photo img {}
main .recommendedWrap .recommended ul li .infor {margin-top: 20px;}
main .recommendedWrap .recommended ul li .infor h3 {font-weight: 500;}
main .recommendedWrap .recommended ul li .infor .price {margin: 17px 0 13px; color: #565656;}
main .recommendedWrap .recommended ul li .infor .mpoint {color: #868686; font-size: 0.81rem; background: #f2f2f2; display: inline-block; padding: 7px; border-radius: 10px;}